.container-fluid
  .row.justify-content-center
    .col-sm-5
      .card_block
        %h1.header= I18n.t("views.users.active.active")
        %ul.default_list
          -@active.each do |user|
            = render partial: "users/partials/user_detail", locals: {user: user}

    .col-sm-5
      .card_block
        %h1.header= I18n.t("views.users.active.inactive")
        %ul.default_list
          -@inactive.each do |user|
            = render partial: "users/partials/user_detail", locals: {user: user}
