/ Sidebar
%nav#sidebar
  #dismiss
    %i.fas.fa-arrow-left
  .sidebar-header
    %h3 UserManagement
  %ul.list-unstyled.components
    %p Actions
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#homeSubmenu"} Kategorien
      %ul#homeSubmenu.collapse.list-unstyled
        %li
          %a{:href => "#"} Home 1
        %li
          %a{:href => "#"} Home 2
        %li
          %a{:href => "#"} Home 3
