/ Sidebar
%nav#sidebar
  #dismiss
    %i.fas.fa-arrow-left
  .sidebar-header
    %h3 UserManagement
  %ul.list-unstyled.components
    %li
      %a= link_to t('sidebar.info'), user_path(current_user)
    %li
      %a= link_to t('sidebar.edit'), edit_profile_path
    %li
      %a= link_to t('sidebar.logout'), destroy_user_session_path, method: :delete, data: {confirm: t("flash.logout")}
